{% extends "base.html" %}
{% block title %}Milena Krawetz | About{% endblock %}
{% block content %}
    <div class = "table_row">
        <div class = "right">
            <p>ХУДОЖНИК ПУТЕШЕСТВЕННИК</br>Родилась в городе Уфа, закончила Педагогический Университет по специальности Изобразительное искусство и Высшую Школу Ювелиров по специальности ювелир-дизайнер. Работала с множеством дизайнерских студий и не только (JOY, Loshadka prty, Freedom, и т.д.) , связанных с дизайном одежды, бижутерией и аксессуарами, начиная от фотографа и иллюстратора, заканчивая арт-директором.Путешествуя по миру я занимаюсь росписью стен и написанием картин. Я посвящаю себя поискам новых пространств в жизни и в искусстве, что, собственно, вдохновляет меня на новые работы.</br>ВЕЛКАМ!</p>
        </div>

	    <div class = "left"><img src = "/static/images/foto.jpg"></div>
    </div>
{% endblock %}