{% extends "base.html" %}
{% block title %}Milena Krawetz | Artist{% endblock %}

{% block scripts %}
    <script src = "/static/libs/jquery-2.1.3.min.js"></script>

    <script>
        window.onload = function(){
        $(".parent")

        .mouseenter(function(){
        $(this).find("div").slideDown();
        })

        .mouseleave(function(){
        $(this).find("div").slideUp()
        });
};
    </script>

{% endblock %}

{% block content %}
<div class = 'home_content'>
    <div class = 'box'>
		<div class = 'box_top'>

			<div class = 'box_top_left'>
				<div class = 'parent' id = 'box1'>
                    <div class = 'slide'>Моя первая картина вот эта</div>
                </div>
            </div>

			<div class = 'box_top_right'>
				<div class = 'parent' id = 'box2'>
                    <div class = 'slide'>ddd</div>
                </div>
                <div class = 'parent' id = 'box3'>
                    <div class = 'slide'>dd</div>
                </div>
			</div>

		</div>

        <div class = 'box_bottom'>
			<div class = 'parent' id = 'box4'>
                <div class = 'slide'></div>
            </div>
			<div class = 'parent' id = 'box5'>
                <div class = 'slide'></div>
            </div>
		</div>

	</div>
</div>
{% endblock %}