 /*---main---*/

.html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    font: 14px "proxima-nova-1","proxima-nova-2","Helvetica Neue",Helvetica, Arial, sans-serif;
}

.layout {
    width: 900px;
    margin: auto;
}

.head {
    width: 900px;
    height:130px;
/*    float:left;*/
}

.logo {
    display: inline-block;
    float: left;
    width: 160px;
    height: 100px;
    margin: 15px 0;
    background: url("/static/images/Milena_Krawetz.png");
    background-repeat:no-repeat;
}

    .logo:hover {
       /* display: inline-block;
        float: left;
        width: 160px;
        height: 100px;
        margin: 15px 0;*/
        background: url("/static/images/Milena_Krawetz_pink.png");
        background-repeat:no-repeat;
    }

    .logo:visited {
        display: inline-block;
        float: left;
        width: 160px;
        height: 100px;
        margin: 15px 0;
        background: url("/static/images/Milena_Krawetz.png");
        background-repeat:no-repeat;
    }


.menu {
    display: inline-block;
    float: right;
}

.menu_item {
    height: 130px;
    display: table-cell;
    vertical-align: middle;
}

.separator {
    display: table-cell;
    vertical-align: middle;
    padding: 0 13px;
}

a {
    color: #1c1c1c;
    text-decoration: none;
}

    a:visited {
        color: #1c1c1c; /* Цвет посещенных ссылок */
    }

    a:hover {
        color: #ff0dd1;
    }

.content {
     height: 100%;
}

.footer {
    height: 25px;
    display: table-cell;
    width: inherit;
    text-align: center;
    vertical-align: middle;
    font: 10px 'ProximaNovaRegular', Arial, sans-serif;
}

 /*---blog---*/

.blog_content {
    /*margin: 0 100px;*/
}

 /*---portfolio---*/

.portfolio_content {
    /*margin: 0 100px;*/
}

/*---about---*/

.info {
    height: 560px;
}

/*---contact---*/

.form {
    margin: 190px 250px 20px 250px;
}

.input {
    transition: all 300ms;
    width: 400px;
    padding: 20px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    display: block;
    margin-top: 20px;
    box-shadow: inset 0 1px 0 0 #e1e1e1;
}

.input_message {
    transition: all 300ms;
    width: 400px;
    height: 55px;
    padding: 20px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    display: block;
    margin-top: 20px;
    box-shadow: inset 0 1px 0 0 #e1e1e1;
}

.send {
    transition: all 300ms;
    width: 440px;
    padding: 20px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    display: block;
    margin-top: 20px;
    box-shadow: inset 0 1px 0 0 #e1e1e1;
}

/*---home---*/

/*
.home_content {
    height: 100%;
}
*/

.box {
	background-color: fff;
	/*height: 550px;*/
	margin: auto;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;

}

.box_top{
	/*float: left;*/
	/*width: 450px;*/
}
	.box_top_left {
		float: left;
			/*width: 100px;*/
	}

		 #box1 {
			width: 585px;
			height: 350px;
			background: url("/static/images/etud.jpg");
			background-size: cover;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			margin: 0 5px 5px 0;
		}

    .box_top_right {
		float: left;
			/*width: 100px;*/
	}
        #box2 {
			width: 305px;
			height: 170px;
			background: url("/static/images/anahata.jpg");
			background-size: cover;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			margin: 0 0 10px 5px;
		}

        #box3 {
			width: 305px;
			height: 170px;
			background: url("/static/images/etud.jpg");
			background-size: cover;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			margin: 5px 0 5px 5px;
		}


.box_bottom {
	/*float: left;*/
	/*width: 200px;*/
}
	#box4 {
	    float: left;
		width: 445px;
		height: 200px;
		background: url("/static/images/etud.jpg");
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		margin: 5px 5px 0 0;
	}

	#box5 {
	    float: left;
		width: 445px;
		height: 200px;
		background: url("/static/images/rospis_sten_filosofiya.jpg");
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		margin: 5px 0 0 5px;
	}

.slide {
    display: none;
    width: inherit;
	height: 30px;
	background-color: white;
	vertical-align: bottom;
	/*border-top: 1px solid #ff0dd1;*/
}