 /*---main---*/

.html, body {
    padding: 0;
    margin: 0;
    height: 100%;
   /* font: 14px "Helvetica Neue",Helvetica, Arial, sans-serif;*/
    color: #666;
    font: 1em 'Open Sans',sans-serif;
    overflow: scroll;
}

#wrapper {
    width: 900px;
    margin: auto;
}

header {
    height: 130px;
}

.logo {
    float: left;
    width: 160px;
    height: 100px;
    margin: 15px 0;
    background: url("/static/images/logo-light-grey.png");
    background-repeat:no-repeat;
}

    .logo:hover {
        background: url("/static/images/logo-pink.png");
        background-repeat:no-repeat;
    }

    .logo:visited {
        background: url("/static/images/logo-light-grey.png");
        background-repeat:no-repeat;
    }


.menu {
    float: right;
}

.menu div {
    height: 130px;
    display: table-cell;
    vertical-align: middle;
}

.separator {
    display: table-cell;
    vertical-align: middle;
    padding: 0 13px;
}

.menu div  a {
    /*color: #1c1c1c;*/
    color: #666;
    text-decoration: none;
}

    .menu div  a:visited {
        color: #666;
    }

    .menu div  a:hover {
        color: #ff0dd1;
    }

.menu div.active a {
        color: #ff0dd1;
    }

.content {
     height: 100%;
}

.footer {
    height: 25px;
    display: table-cell;
    width: inherit;
    text-align: center;
    vertical-align: middle;
    font: 10px 'ProximaNovaRegular', Arial, sans-serif;
}

 /*---blog---*/

.post {
  width: 900px;
}

.post_image {
    float: left;
    width: 450px;
    height: 300px;
    padding-top: 20px;
}

.miniature {
    width: 300px;
	height: 300px;
	margin-left: 75px;
}

.post_description {
    float: left;
    width: 450px;
    height: 300px;
    padding-top: 20px;
    text-align:center;
}

.ff {
    clear: all;
}
     a.read_more {
        color: #ff0dd1;
        text-decoration: none;
    }

    a.read_more :visited {
        color: #ff0dd1;
    }

    
    a.post_title_in_list {
        color: #666;
        text-decoration: none;
    }

    a.post_title_in_list :visited {
        color: #666;
    }

.image_in_post {
    margin: 0 100px;
}

 /*---portfolio---*/

.portfolio{
    width: 900px;
}

.portfolio_description {
    float: left;
    width: 30%;
}

.portfolio_images {
    float: left;
    width: 70%;
}


/*---about---*/

.info {
    height: 560px;
}

/*---contact---*/

.social {
   width: 900px;
   padding-top: 60px;
   text-align: center;

}

.social_icons {
    margin: 0 250px;
}

.icon {
    padding: 10px;
    width: 60px;
    height: 60px;
    float: left;
}

.icon_vk {
    width: 60px;
    height: 60px;
    float: left;
    background: url("/static/images/icons/vk.png");
}

    .icon_vk:hover {
        background: url("/static/images/icons/vk_pink.png");
    }

    .icon_vk:visited {
        background: url("/static/images/icons/vk.png");
    }

.icon_twitter {
    width: 60px;
    height: 60px;
    float: left;
    background: url("/static/images/icons/twitter.png");
}

    .icon_twitter:hover {
        background: url("/static/images/icons/twitter_pink.png");
    }

    .icon_twitter:visited {
        background: url("/static/images/icons/twitter.png");
    }

.icon_instagram {
    width: 60px;
    height: 60px;
    float: left;
    background: url("/static/images/icons/instagram.png");
}

    .icon_instagram:hover {
        background: url("/static/images/icons/instagram_pink.png");
    }

    .icon_instagram:visited {
        background: url("/static/images/icons/instagram.png");
    }

.icon_facebook {
    width: 60px;
    height: 60px;
    float: left;
    background: url("/static/images/icons/facebook.png");
}

    .icon_facebook:hover {
        background: url("/static/images/icons/facebook_pink.png");
    }

    .icon_facebook:visited {
        background: url("/static/images/icons/facebook.png");
     }

.icon_youtube {
    width: 60px;
    height: 60px;
    float: left;
    background: url("/static/images/icons/youtube.png");
}

    .icon_youtube:hover {
        background: url("/static/images/icons/youtube_pink.png");
    }

    .icon_youtube:visited {
        background: url("/static/images/icons/youtube.png");
     }


.form {
    margin: 180px 229px 20px 229px;
    text-align: center;
}

.input {
    transition: all 300ms;
    width: 400px;
    padding: 20px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    display: block;
    margin-top: 20px;
    box-shadow: inset 0 1px 0 0 #e1e1e1;
}

.input_message {
    transition: all 300ms;
    width: 400px;
    height: 55px;
    padding: 20px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    display: block;
    margin-top: 20px;
    box-shadow: inset 0 1px 0 0 #e1e1e1;
    rows: 5;
}

.send {
    transition: all 300ms;
    width: 440px;
    padding: 20px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    display: block;
    margin-top: 20px;
    box-shadow: inset 0 1px 0 0 #e1e1e1;
}

/*---home---*/

.box {
	background-color: fff;
	margin: auto;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;

}


	#box1 {
	    float: left;
		width: 585px;
		height: 350px;
		margin: 0 5px 5px 0;
	}


    #box2 {
        float: left;
		width: 305px;
		height: 170px;
		margin: 0 0 5px 5px;
	}

    #box3 {
        float: left;
		width: 305px;
		height: 170px;
		margin: 5px 0 5px 5px;
	}

	#box4 {
	    float: left;
		width: 445px;
		height: 200px;
		margin: 5px 5px 0 0;
	}

	#box5 {
	    float: left;
		width: 445px;
		height: 200px;
		margin: 5px 0 0 5px;
	}


.slide {
    display: none;
	height: 30px;
	background-color: white;
}

.portfolio_title {
    height: 30px;
    width: inherit;
    display: table-cell;
	vertical-align: bottom;
}


.home_content a {
    color: #666;
    text-decoration: none;
}