 /*---main---*/

.html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    font: 14px 'ProximaNovaRegular', Arial, sans-serif;
}

.layout {
    width: 900px;
    margin: auto;
}

.head {
    width: 900px;
    height:100px;
/*    float:left;*/
}

.logo {
    display: inline-block;
    float: left;
    width: 160px;
    height: 100px;
    background: url("/static/images/Milena_Krawetz.png");
    background-repeat:no-repeat;
}

.menu {
    display: inline-block;
    float: right;
}

.menu_item {
    height: 100px;
    display: table-cell;
    vertical-align: middle;
}

.separator {
    display: table-cell;
    vertical-align: middle;
    padding: 0 13px;
}

a {
    color: #1c1c1c;
    text-decoration: none;
}

    a:visited {
        color: #1c1c1c; /* Цвет посещенных ссылок */
    }

    a:hover {
        color: #ff0dd1;
    }

.content {
}


 /*---blog---*/

.blog_content {
    margin: 0 100px;
}

 /*---portfolio---*/

.portfolio_content {
    margin: 0 100px;
}

/*---about---*/

.right {
    display: table-cell;
    width: 450px;
    align: right;
    vertical-align: middle;
}

.left {
    display: table-cell;
    width: 450px;
    align: center;
}

.footer {
    height: 25px;
    text-align: center;
    font: 10px 'ProximaNovaRegular', Arial, sans-serif;
}

/*---contact---*/

.form {
    margin: 200px 250px 10px 250px;
}

.input {
    transition: all 300ms;
    width: 400px;
    padding: 20px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    display: block;
    margin-top: 20px;
    box-shadow: inset 0 1px 0 0 #e1e1e1;
}

.input_message {
    transition: all 300ms;
    width: 400px;
    height: 55px;
    padding: 20px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    display: block;
    margin-top: 20px;
    box-shadow: inset 0 1px 0 0 #e1e1e1;
}

.send {
    transition: all 300ms;
    width: 440px;
    padding: 20px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    display: block;
    margin-top: 20px;
    box-shadow: inset 0 1px 0 0 #e1e1e1;
}

/*---home---*/

.home_content {
    /*margin: 0px;*/

}

.box {
	background-color: fff;
	/*height: 550px;*/
	margin: auto;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;

}

.box_top{
	/*float: left;*/
	/*width: 450px;*/
}
	.box_top_left {
		float: left;
			/*width: 100px;*/
	}

		 .box1 {
			width: 585px;
			height: 350px;
			background: url("/static/images/etud.jpg");
			background-size: cover;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			margin: 0 5px 5px 0;
		}

    .box_top_right {
		float: left;
			/*width: 100px;*/
	}
        .box2 {
			width: 305px;
			height: 170px;
			background: url("/static/images/anahata.jpg");
			background-size: cover;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			margin: 0 0 10px 5px;
		}

        .box3 {
			width: 305px;
			height: 170px;
			background: url("/static/images/etud.jpg");
			background-size: cover;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			margin: 5px 0 5px 5px;
		}


.box_bottom {
	/*float: left;*/
	/*width: 200px;*/
}
	.box4 {
	    float: left;
		width: 445px;
		height: 200px;
		background: url("/static/images/etud.jpg");
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		margin: 5px 5px 0 0;
	}

	.box5 {
	    float: left;
		width: 445px;
		height: 200px;
		background: url("/static/images/rospis_sten_filosofiya.jpg");
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		margin: 5px 0 0 5px;
	}

