{% extends "base.html" %}
{% block title %}Milena Krawetz | Blog{% endblock %}
{% block content %}

    {% for post in object_list %}
        <h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>


            {% for post in image %}
                <p>ss<img src="/media/blog/{{ post_image.image }}"></p>
            {% endfor %}


        <p>{{ post.date }}</p>
        <p>{{ post.content }}</p>
    {% empty %}
        <p>Нет постов</p>
    {% endfor %}

    {% block navigation %} << Назад   Вперед >>{% endblock %}

{% endblock %}