{% extends "base.html" %}
{% block title %}Milena Krawetz | Blog{% endblock %}
{% block content %}

<div class = 'blog_content'>
        {% for full_object in posts %}

        <h2><a href="{{ full_object.post.get_absolute_url }}">{{ full_object.post.title }}</a></h2>


            <!--{% for image in full_object.array_img %}-->
                <!--<p><img src="/media/{{ image }}" height="120"></p>-->
            <!--{% endfor %}-->
                <p><img src="/media/{{ full_object.array_img }}" height="120"></p>

        <p>{{ full_object.post.date }}</p>
        <p>{{ full_object.post.preview }}</p>
    {% empty %}
        <p>Нет постов</p>
    {% endfor %}

    <!--{% block navigation %} << Назад   Вперед >>{% endblock %}-->
</div>
    {% endblock %}
