{% extends "base.html" %}
{% block title %}Milena Krawetz | Portfolio{% endblock %}

{% block css %}
    <link rel = 'stylesheet' href = "/static/libs/fotorama-4.6.3/fotorama.css">
{% endblock %}

{% block scripts %}

    <script src = "/static/libs/jquery-2.1.3.min.js"></script>
    <script src = "/static/libs/fotorama-4.6.3/fotorama.js"></script>

{% endblock %}

    {% block content %}

    {% for full_object in portfolio %}

    <div class = 'portfolio'>

        <div class = 'portfolio_description'>
            <h2>{{ full_object.portfolio.title }}</h2>
            <p>{{ full_object.portfolio.description }}</p>
        </div>

        <div class = 'portfolio_images' id = '{{ full_object.portfolio.pk }}'>
            <div class = 'fotorama' data-allowfullscreen = 'true' data-width = '630' data-ratio = '630/450' data-max-width = '100%'>

                {% for work_image in full_object.work_images %}
                    <img src="/media/{{ work_image }}" >
                {% endfor %}

            </div>
        </div>
    </div>

    {% empty %}
    <p>Нет картин</p>
    {% endfor %}

    {% endblock %}