{% extends "base.html" %}
{% block title %}Milena Krawetz | Portfolio{% endblock %}

{% block css %}
    <link rel = 'stylesheet' type = 'text/css' href = "/static/libs/fotorama-4.6.3/fotorama.css">
{% endblock %}

{% block scripts %}

    <script src = "/static/libs/jquery-2.1.3.min.js"></script>
    <script src = "/static/libs/fotorama-4.6.3/fotorama.js"></script>

{% endblock %}

{% block content %}

<div class = 'portfolio_content'>

    {% for full_object in portfolio %}

    <div class = 'portfolio'>
        <div class = 'fotorama' data-allowfullscreen = 'true' data-width = '300' data-ratio = '300/200' data-max-width = '100%'>

            {% for image in full_object.array_img %}
                <img src="/media/{{ image }}" height= "467">
            {% endfor %}

        </div>

    <div class = 'portfolio_description'>
        <p>{{ full_object.portfolio.title }}</p>
        <p>{{ full_object.portfolio.about }}</p>
    </div>

    {% empty %}
    <p>Нет картин</p>
    {% endfor %}

</div>

{% endblock %}

