{% extends "base.html" %}
{% block title %}Milena Krawetz | Contact{% endblock %}
{% block content %}

    <div class = "form">
        <form name = "form" action = "../form.py" method = "POST">

            <input class = "input" type = "text" name = "name" placeholder = "NAME" required = "required"/>
            <input class = "input" type = "email" name = "email" placeholder = "EMAIL" required = "required"/>
            <input class = "input_message" type = "text" name = "message" placeholder = "MESSAGE" required = "required"/>

            <div>
                <button class = "send" type = "submit">SEND</button>
            </div>
        </form>

    </div>
{% endblock %}
